<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .book-card {
            height: 100%;
            transition: transform 0.3s;
        }
        .book-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }
        .book-img {
            height: 250px;
            object-fit: contain;
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo_libros.png" alt="Libros Web" width="30" height="30" class="d-inline-block align-text-top">
                Libros Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Inicio</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/titulo">Búsqueda por título</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autor">Búsqueda por autor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/letra">Desplegar por letra</a>
                    </li>
                </ul>
                </div>
            </div>  
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <footer class="bg-dark text-white text-center py-3 mt-5">
        <div class="container">
            <p class="mb-0">© 2025 Libros Web. Todos los derechos reservados.</p>
        </div>
        {% block footer %}
        {% endblock %}
    </footer>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>