{% extends "base.html" %}
{% block title %}Libro Web - Despliegue por letra{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<div class="container py-5">
    <h1 class="mb-4">Libros Web</h1>
    <p>Selecciona la letra a mostrar</p>
        <div>
            {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
            <a href="/letra/{{ letter }}">{{ letter }}</a>
            {% if not loop.last %} | {% endif %}
            {% endfor %}
        </div>
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="bookContainer">
            {% for libro in lista_libros %}
            <div class="col book-item">
                <div class="card book-card" data-title="{{ libro.title.lower() }}">
                    <img src="{{ libro.image_url }}" class="card-img-top book-img p-3" alt="{{ libro.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ libro.title }}</h5>
                        <p class="card-text">
                            <strong>Author:</strong> {{ libro.author }}<br>
                            <span class="badge bg-secondary">{{ libro.category }}</span>
                        </p>
                        <a href="/libro/{{libro.id}}" class="btn btn-primary">Ver detalles</a>
                    </div>
                    <div class="card-footer text-muted">
                        ID: {{ libro.id }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}